body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 241, 253);
    font-family: 'Inter', sans-serif;
}

.container {
    margin-left: 40px;
    margin-top: 20px;
}

.success {
    background-color: rgb(65, 65, 65);
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    margin-right: 20px;
}

.error {
    background-color: rgb(65, 65, 65);
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;

}

.invalid {
    background-color: rgb(65, 65, 65);
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    margin-right: 20px;
}

#toast-container {
    position: absolute;
    right: 30px;
    bottom: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    padding: 20px;
}

.toast {
    background-color: white;
    height: 80px;
    width: 400px;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: relative;
}

.toast::after {
    content: '';
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: rgb(0, 15, 128);
    position: absolute;
    animation: anim 3.5s linear forwards;
}

@keyframes anim {
    100% {
        width: 0;
    }
}

.toast.success::after {
    background: green;
}

.error::after {
    background: red;
}

.toast.invalid::after {
    background: orange;
}