* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.container {
    background-color: grey;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: pink;
    padding: 20px 20px;
    text-align: center;
    width: 400px;
    border-radius: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.circle {
    background-color: white;
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    color: rgb(180, 129, 138);
    box-shadow: 0 5px 10px rgba(137, 15, 15, 0.22);
    line-height: 40px;
}

.poster {
    border: 10px solid white;
    border-radius: 50%;
    height: 200px;
    box-shadow: 0 5px 10px rgba(137, 15, 15, 0.22);
}

.name {
    font-size: 20px;
    margin-top: 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    color: rgb(154, 119, 125);
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
    cursor: pointer;
}

.play {
    background-color: rgb(154, 119, 125);
    color: white;
}