* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.container {
    background-color: grey;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: pink;
    padding: 20px 20px;
    text-align: center;
    width: 400px;
    border-radius: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.circle {
    background-color: white;
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    color: rgb(180, 129, 138);
    box-shadow: 0 5px 10px rgba(137, 15, 15, 0.22);
    line-height: 40px;
}

.poster {
    border: 10px solid white;
    border-radius: 50%;
    height: 200px;
    box-shadow: 0 5px 10px rgba(137, 15, 15, 0.22);
}

.name {
    font-size: 20px;
    margin-top: 20px;

}